# vi: foldmethod=marker
---
version: '3.7'

services:
    thredds:
        image: unidata/thredds-docker:latest
        ports:
            - "80:8080"
            - "443:8443"
            - "8443:8443"
        container_name: thredds
        volumes:
            # LINK CONFIGS {{{1
            - type: bind # link threddsConfig separetly because the docker container changes permissions on this file inside /thredds
              source: ./threddsConfig.xml
              target: /usr/local/tomcat/content/thredds/threddsConfig.xml
              read_only: true

            - type: bind
              source: ./tomcat-users.xml
              target: /usr/local/tomcat/conf/tomcat-users.xml
              read_only: true

              #THREADS FOLDER -- UNCOMMENT JUST IN CASE
            - type: bind
              source: ./thredds
              target: /usr/local/tomcat/content/thredds

              # ========================  LOGS
            - type: bind
              source: ./logs/tomcat/
              target: /usr/local/tomcat/logs/

            - type: bind
              source: ./logs/thredds/
              target: /usr/local/tomcat/content/thredds/logs/
              #}}}1
              
              # DATA {{{1
              # ===============================================

              # HINDCAST {{{2
              # =========================

              #  ERA 5
            - type: bind
              source: /media/data/hindcast/ECMWF/ERA5/
              target: /usr/local/tomcat/content/thredds/public/data/hindcast/ERA5/
              read_only: true

              #  WAVERYS
            - type: bind
              source: /media/data/hindcast/WAVERYS/
              target: /usr/local/tomcat/content/thredds/public/data/hindcast/WAVERYS/
              read_only: true

              #  WAVERYS
            - type: bind
              source: /media/data/hindcast/IFREMER/
              target: /usr/local/tomcat/content/thredds/public/data/hindcast/IFREMER/
              read_only: true

              #  CFSR
            - type: bind
              source: /media/data/hindcast/NCEP/atmos/CFSR/
              target: /usr/local/tomcat/content/thredds/public/data/hindcast/CFSR/
              read_only: true

              #  CFSv2
            - type: bind
              source: /media/data/hindcast/NCEP/atmos/CFSv2/
              target: /usr/local/tomcat/content/thredds/public/data/hindcast/CFSv2/
              read_only: true

              #  WW3 ST4 - nopp2
            - type: bind
              source: /media/data/hindcast/NCEP/wave/nopp-phase2/netcdf/ # TODO -- This is temporary
              target: /usr/local/tomcat/content/thredds/public/data/hindcast/WW3ST4/
              read_only: true

              # }}}2

              # FORECAST {{{2
              # =========================

            - type: bind
              source: /media/data/forecast/cfs/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/CFS/
              read_only: true

            - type: bind
              source: /media/data/forecast/cmce/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/CMCE/
              read_only: true

            - type: bind
              source: /media/data/forecast/fens/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/FENS/
              read_only: true

            - type: bind
              source: /media/data/forecast/gdas/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/GDAS/
              read_only: true

            - type: bind
              source: /media/data/forecast/gefsAtmos/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/GEFSATMOS/
              read_only: true

            - type: bind
              source: /media/data/forecast/gefsWaves/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/GEFSWAVES/
              read_only: true

            - type: bind
              source: /media/data/forecast/gens/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/GENS/
              read_only: true

            - type: bind
              source: /media/data/forecast/icon/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/ICON/
              read_only: true

            - type: bind
              source: /media/data/forecast/iconB/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/ICONB/
              read_only: true

            - type: bind
              source: /media/data/forecast/iconeps/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/ICONEPS/
              read_only: true

            - type: bind
              source: /media/data/forecast/wamicon/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/WAMICON/
              read_only: true

            - type: bind
              source: /media/data/forecast/ww3/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/WW3/
              read_only: true

            # }}}2
            # }}}1

        env_file:
            - "compose.env"

###
# TDM
# https://github.com/Unidata/tdm-docker
###
    tdm:
        image: unidata/tdm-docker:latest
        container_name: tdm
        volumes:

            # LINK CONFIGS {{{1
            - type: bind
              source: ./thredds
              target: /usr/local/tomcat/content/thredds

              # Bind this specifically because of permissions
            - type: bind
              source: ./threddsConfig.xml
              target: /usr/local/tomcat/content/thredds/threddsConfig.xml
              read_only: true

            - type: bind
              source: ./tdm/
              target: /usr/local/tomcat/content/tdm/
        # }}}1

              # DATA {{{1

              # HINDCAST {{{2
              # =========================

              #  ERA 5
            - type: bind
              source: /media/data/hindcast/ECMWF/ERA5/
              target: /usr/local/tomcat/content/thredds/public/data/hindcast/ERA5/
              read_only: true

              #  WAVERYS
            - type: bind
              source: /media/data/hindcast/WAVERYS/
              target: /usr/local/tomcat/content/thredds/public/data/hindcast/WAVERYS/
              read_only: true

              #  WAVERYS
            - type: bind
              source: /media/data/hindcast/IFREMER/
              target: /usr/local/tomcat/content/thredds/public/data/hindcast/IFREMER/
              read_only: true

              #  CFSR
            - type: bind
              source: /media/data/hindcast/NCEP/atmos/CFSR/
              target: /usr/local/tomcat/content/thredds/public/data/hindcast/CFSR/
              read_only: true

              #  CFSv2
            - type: bind
              source: /media/data/hindcast/NCEP/atmos/CFSv2/
              target: /usr/local/tomcat/content/thredds/public/data/hindcast/CFSv2/
              read_only: true

              #  WW3 ST4 - nopp2
            - type: bind
              source: /media/data/hindcast/NCEP/wave/nopp-phase2/netcdf/ # TODO -- This is temporary
              target: /usr/local/tomcat/content/thredds/public/data/hindcast/WW3ST4/
              read_only: true

              # }}}2

              # FORECAST {{{2
              # =========================

            - type: bind
              source: /media/data/forecast/cfs/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/CFS/
              read_only: true

            - type: bind
              source: /media/data/forecast/cmce/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/CMCE/
              read_only: true

            - type: bind
              source: /media/data/forecast/fens/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/FENS/
              read_only: true

            - type: bind
              source: /media/data/forecast/gdas/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/GDAS/
              read_only: true

            - type: bind
              source: /media/data/forecast/gefsAtmos/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/GEFSATMOS/
              read_only: true

            - type: bind
              source: /media/data/forecast/gefsWaves/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/GEFSWAVES/
              read_only: true

            - type: bind
              source: /media/data/forecast/gens/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/GENS/
              read_only: true

            - type: bind
              source: /media/data/forecast/icon/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/ICON/
              read_only: true

            - type: bind
              source: /media/data/forecast/iconB/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/ICONB/
              read_only: true

            - type: bind
              source: /media/data/forecast/iconeps/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/ICONEPS/
              read_only: true

            - type: bind
              source: /media/data/forecast/wamicon/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/WAMICON/
              read_only: true

            - type: bind
              source: /media/data/forecast/ww3/
              target: /usr/local/tomcat/content/thredds/public/data/forecast/WW3/
              read_only: true

            # }}}2
            # }}}1

        env_file:
            - "compose.env"

