:root {
	--bg1: #002d40;
	--bg2: #1aa6b7;
	--light: #d9ecf2;
}

html {
	background-color: var(--bg1);
}

body {
	width: 80%;
	margin: 0 auto;
}

th {
	font-family: monospace;
	color: #fff;
	background: var(--bg2);
	height: 30px;
	padding-left: 25px;
}

th font {
	font-size: 16px;
}

h1 {
	margin: 0px;
	background-color: #fff;
	border-left: 10px solid var(--bg2);
	border-right: 10px solid var(--bg2);
	color: var(--bg1);
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 11px;
	overflow: hidden;
	font-family: monospace;
	text-align: right;
}

h3 {
	background-color: var(--bg1);
	color: var(--bg2);
	font-size: 14px;
	text-align: right;
}

h3 a:visited {
	color: #fff;
}

hr {
	display: none;
}

table {
	background-color: var(--light);
	border-left: 10px solid var(--bg2);
	border-right: 10px solid var(--bg2);
	border-collapse:collapse;
}

tr:nth-child(odd){
	background-color: var(--bg2);
}

table a:visited {
	color: var(--bg1);
}

table a:link {
	color: var(--bg1);
}

tr:nth-child(odd) a:visited{
	color: #fff;
}

tr:nth-child(odd) a:link{
	color: #fff;
}

tr:first-child
{
	background-color: #eea52b;
	height: 20px;
}

td {
	padding: 8px 20px 8px 5px;
}


