:root {
	--main-color: #c0cdd4;
	--light: #e0eff7;
}

body {
	width: 80%;
	margin: 0 auto;
}

th {
	font-family: monospace;
	background: var(--main-color);
	height: 28px;
	padding-left: 25px;
}

th font {
	font-size: 16px;
}

h1 {
	margin: 0px;
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 11px;
	overflow: hidden;
	font-family: monospace;
	text-align: right;
}


h3 {
	font-size: 18px;
	text-align: center;
}

h3 a:visited {
	color: inherit;
}

hr {
	display: none;
}

table {
	background-color: var(--light);
	border-collapse:collapse;
}

tr:nth-child(odd){
	background-color: var(--main-color);
}

table a:link {
	color: inherit;
	text-decoration: none;
}

table a:visited {
	color: inherit;
}

table a:hover {
	text-decoration: underline
}

td {
	padding: 8px 20px 8px 5px;
}

td img {
	vertical-align: middle;
	padding-right: 4px;
}

tr img:nth-child(odd) {
