:root {
	--bg1: #002d40;
	--bg2: #1da2d8;
	--light: #d9ecf2;
}

body{
	font-weight: normal;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	width: 80%;
	margin: 0 auto;
}


h2 {
	font-size: 17pt;
	text-align: center;
	color: var(--bg2);
}

td {
	font-weight: normal;
	font-size: 12pt;

}

h3 > strong > a:nth-child(1) {
	color: black;
	font-size:  18pt;
}

h3 {
	color: var(--bg2);
}

A:link {
	color: var(--bg2)

}

A:visited {
	color: var(--bg2);
}

a:hover {
	color: #FF0000;
	text-decoration: underline
}

A { text-decoration: none }

textarea {
	border: none;
}

input {

}

