:root {
	--bg1: #002d40;
	--bg2: #1da2d8;
	--light: #d9ecf2;
}

html {
	background-color: var(--bg1);
}

body{
	font-weight: normal;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	width: 80%;
	margin: 0 auto;
	color: white;
}

ol {
	font-size: 12pt;
}

h2 {
	font-size: 17pt;
	text-align: center;
	color: var(--bg2);
}

td {
	font-weight: normal;
	font-size: 10pt;
	color: #fff;
	text-decoration: none;
	background-color: #fff;
}

body > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
	text-align: right;
	font-weight: bold;
	font-size:  18pt;
	padding-right: 30px;
}

h3 > strong > a:nth-child(1) {
	color: var(--bg1);
}

h3 {
	color: var(--bg2);
}

A:link {
	color: var(--bg2)

}

A:visited {
	color: var(--bg2);
}

a:hover {
	color: #FF0000;
	text-decoration: underline
}

A { text-decoration: none }



